<style>
  #header{
    height: 65px;
    background-color: rgb(98, 11, 11);
}
body{
    background-color: black;
    background-attachment: fixed;
}
h1{
    text-size-adjust:5px 5px goldenrod;
    
    font-style: normal;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
    color: goldenrod;
    font-size: 50px;
    letter-spacing: 5px;

    word-spacing:10px;
}
#about{
    background-color: black;
    background-image: url('about11.webp');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: left;
    height: 400px;
}
pre{
    padding-top: 60px;
    justify-content: right;
    justify-items: right;
    display: flex;
    flex-wrap: wrap;
    font-size: large;
}
#know{
    height: 550px;
    background-image: url('hero1.jpg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right;
    background-color: black;
}
#desc{
    padding-top: 10px;
    margin-left: -10px;
    justify-content: left;
    justify-items: left;
    flex-wrap: wrap;
    display: flex;
    font-size: large;
}
#media{
    color: goldenrod;
    font-size: 1cm; 
    margin-top: 0px;
}
h2{
    color: cornflowerblue;
    text-align: center;
}
a{
    text-decoration: none;
    color: cornflowerblue;
}
</style>

<body>
  <div id="header">
    <h1>PROJECT K</h1>
  </div>
  <div id="about">
    <pre style="color: beige;">
      Kalki 2898 AD (stylized as KALKI 2898-A.D) is an upcoming Indian epic science fiction film
      written and directed by Nag Ashwin. It is produced by C. Aswani Dutt under Vyjayanthi Movies.
      The film stars an ensemble cast including Prabhas, Amitabh Bachchan, Kamal Haasan, Deepika 
      Padukone and Disha Patani.

      The film was announced under the working title  Project K in February 2020  coinciding with the 
      50th anniversary of Vyjayanthi Movies. However, the production was delayed by a year due to the
      COVID-19 pandemic.Filming began in July 2021 in futuristic set at Ramoji Film City,in Hyderabad. 
      It was shot simultaneously in Telugu and Hindi.[2]
      
      Kalki 2898 AD is made on a budget of ₹600 crore (US $75 million), making it is the most expensive 
      Indian film ever made. The film's music score is composed by Santhosh Narayanan with cinematography
      by Djordje Stojiljkovic and production design by Nitin Zihani Choudhary. Kalki 2898 AD is scheduled
      to be released in cinemas in 2024.</pre>
  </div>
  <div id="hero">
    <h1>HERO</h1>
  </div>
  <div id="know">
    <pre style="color: beige;" id="desc">
  Uppalapati Venkata Suryanarayana Prabhas Raju (born 23 October 1979), known mononymously as Prabhas, is
  an Indian actor who predominantly works in Telugu cinema. One of the highest-paid actors in Indian cinema,
  Prabhas has featured in Forbes India'sCelebrity 100 list since 2015 and has received seven Filmfare Awards 
  nominations, a Nandi Award, and a SIIMA Award.

  Prabhas made his acting debut with the 2002 Telugu drama Eeswar, and later attained his breakthrough with
  the action romance Varsham ( 2004 ). His notable works include Chatrapathi ( 2005 ), Bujjigadu ( 2008 ), 
  Billa (2009), Darling(2010), Mr.Perfect (2011), and Mirchi (2013), winning the Nandi Award for Best Actor 
  for his performance in the lattermost.
      
  In 2015, Prabhas portrayed the title role in S. S. Rajamouli's epic action drama Baahubali: The Beginning,
  which is the thirteenth--highest--grossing Indian film to date. He later reprised his role in its sequel , 
  Baahubali 2: The Conclusion (2017) , which became the  first Indian film ever to gross over ₹ 1,000 crore 
  (US$155 million)in all languages in just ten days and is the second--highest-grossing Indian film to date, 
  helping Prabhas achieve international recognition.He then starred in the pan-India action thriller Saaho.
    </pre>
    <h1 id="media">Social Media</h1>
    <h2>Instagram :<a href="https://www.instagram.com/actorprabhas/?hl=en" target="_blank"> @actorprabhas</a></h2>
    <h2>Twitter :<a href="https://twitter.com/ActorPRABHA" target="_blank"> @actorPRABH</a></h2>
  </div>
  
</body>