#header{
    height: 65px;
    background-color: rgb(98, 11, 11);
}
body{
    background-color: black;
    background-attachment: fixed;
}
h1{
    text-size-adjust:5px 5px goldenrod;
    
    font-style: normal;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
    color: goldenrod;
    font-size: 50px;
    letter-spacing: 5px;

    word-spacing:10px;
}
#about{
    background-color: black;
    background-image: url('about11.webp');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: left;
    height: 400px;
}
pre{
    padding-top: 60px;
    justify-content: right;
    justify-items: right;
    display: flex;
    flex-wrap: wrap;
    font-size: large;
}
#know{
    height: 550px;
    background-image: url('hero1.jpg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right;
    background-color: black;
}
#desc{
    padding-top: 10px;
    margin-left: -10px;
    justify-content: left;
    justify-items: left;
    flex-wrap: wrap;
    display: flex;
    font-size: large;
}
#media{
    color: goldenrod;
    font-size: 1cm; 
    margin-top: 0px;
}
h2{
    color: cornflowerblue;
    text-align: center;
}
a{
    text-decoration: none;
    color: cornflowerblue;
}